.container{
  margin: auto;
  width: 400px;
  height: 200px;
  border: 10px solid rgb(217, 223, 236);
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background-color: rgb(202, 214, 238);
  border-radius: 30px;
}

.container div{
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.buttons{
  margin: auto;
  padding-top: 15px;
}

.signin-btn{
  margin-left: 20px;
}

.welcome{
 margin: auto;
  width: 250px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.signin-btn{
  margin-right: 5px;
}

.whole-wrap{
  width: 800px;
  margin: auto;
}

.homepage-wrap{
 padding-top: 50px;
 border: 1px solid red;
  margin: auto;
}

.homepage{
  margin: auto;
  width: 300px;
  border: 1px solid blue;
  text-align: center;
}


.table-email{
  border: 1px solid rgb(224, 224, 224);
  background-color: beige;
}

.admin-container{
 
   width: 100%;
   text-align: left;
   align-items: center;
   justify-content: center;
   padding-top: 30px;
}

.table-container{
  margin: auto;
  width: 300px;

  
}

.user-details{
  padding-bottom: 20px;
  text-align: center;
  background-color:rgb(240, 240, 231);
}

.s-no{
  padding-right: 20px;
  border: 1px solid rgb(224, 224, 224);
  background-color: beige;
}

.s-no1{
  padding-right: 20px;
  border: 1px solid pink;
}

.table{
  width: 300px;
  
  background-color: antiquewhite;
}

.individual-rows{
  padding-top: 10px;
  margin-top: 10px;
  border: 1px solid pink;
}

.signout-btn{
  margin-left: 60%;
  margin-top: 30px;
}